<div class="albums">
  <img src="assets/albums.png" class="albums-banner" alt="Álbums" />
  <h2 class="albums-title">Álbums</h2>
  <div class="album-list">
    <div class="album-card">
      <img src="assets/The Human animal.jpeg" alt="Álbum 1" class="album-image" />
      <p class="album-text">The Human animal</p>
    </div>
    <div class="album-card">
      <img src="assets/Searching For Strawberries.jpeg" alt="Álbum 2" class="album-image" />
      <p class="album-text">Searching For Strawberries</p>
    </div>
    <div class="album-card">
      <img src="assets/Songs That Don't Belong.jpeg" alt="Álbum 2" class="album-image" />
      <p class="album-text">Songs That Don't Belong</p>
    </div>
    <div class="album-card">
      <img src="assets/You're Not A Bad Person, it's Just A Bad World.jpeg" alt="Álbum 2" class="album-image" />
      <p class="album-text">You're Not A Bad Person, it's Just A Bad World</p>
    </div>
    <div class="album-card">
      <img src="assets/Jamesy Boy & The Screw Loose Zoo.jpeg" alt="Álbum 2" class="album-image" />
      <p class="album-text">Jamesy Boy & The Screw Loose Zoo</p>
    </div>
  </div>
</div>
