<app-header></app-header>
<div class="historia-container">
  <!-- Título principal -->
  <h1 class="title">Historia de <span class="highlight">rare americans</span></h1>

  <!-- Descripción de la banda -->
  <p class="description">
    Rare Americans es una banda originaria de Vancouver, Canadá, conocida por
    fusionar elementos de punk, pop y hip-hop. Formada en 2018, esta banda ha
    cautivado a sus fans con letras ingeniosas y un enfoque narrativo, creando
    un universo sonoro que aborda temas como la identidad, la lucha y la
    celebración de la individualidad.
  </p>

  <p class="description">
    James Priestner, Jared Priestner, Jan Cajka y Duran Ritz no se limitan a
    hacer música, cada canción es acompañada de un video ya sea animado o de
    live-action, cosa que ha distinguido a la banda y les ha valido
    reconocimiento internacional. En 2024 lanzaron un ambicioso LP con más de
    20 canciones llamado “The Human Animal”, aprovechando la ocasión
    platicamos con James sobre las canciones del disco y su enfoque al crear
    música.
  </p>

  <!-- Subtítulo de la sección de integrantes -->
  <h2 class="subtitle">Integrantes</h2>

  <!-- Integrantes -->
  <div class="integrantes">
    <div class="integrante card">
      <img src="assets/james_priestner.jpeg" alt="James Priestner" />
      <p class="name">James Priestner</p>
    </div>
    <div class="integrante card">
      <img src="assets/jared_priestner.jpeg" alt="Jared Priestner" />
      <p class="name">Jared Priestner</p>
    </div>
    <div class="integrante card">
      <img src="assets/duran_ritz.jpeg" alt="Duran Ritz" />
      <p class="name">Duran Ritz</p>
    </div>
  </div>
</div>
<app-footer></app-footer>