<div class="main-container">
  <!-- Sección "¿Quién es Rare Americans?" -->
  <div class="who-are-they">
    <div class="card">
      <img src="assets/caballo.jpeg" alt="Caballo Rare Americans" class="left-image" />
      <div class="text-content">
        <h2>¿Quién es Rare Americans?</h2>
        <p>
          Rare Americans es una banda originaria de Vancouver, Canadá, conocida por fusionar elementos de punk, pop y hip-hop. Formada en 2018, esta banda ha cautivado a sus fans con letras ingeniosas y un enfoque narrativo, creando un universo sonoro que aborda temas como la identidad, la lucha y la celebración de la individualidad.
        </p>
        <!-- Botón con routerLink -->
        <button class="history-button" routerLink="/historia">
          Conoce su historia
        </button>
      </div>
    </div>
  </div>

  <!-- Sección "Albums" -->
  <div class="section">
    <h2>Albums</h2>
    <app-albums></app-albums>
  </div>

  
  <!-- Sección "Canciones más escuchadas" -->
  <div class="section">
    <app-songs></app-songs>
  </div>

  
  <div class="section">
    <app-stories></app-stories>
  </div>
</div>


